In [1]:
import pandas as pd
import numpy as np
import json
from pprint import pprint

In [2]:
show = pd.read_csv('movie_data.csv', lineterminator ='\n')

In [3]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# np.set_printoptions(threshold = np.inf)
# np.set_printoptions(linewidth = np.inf)

In [4]:
np.set_printoptions()

In [5]:
# show.head(3)

In [6]:
# show.info()

In [7]:
# 'adult',
# 'movie_id',
# 'original_language',
# 'overview',
# 'release_date',
# 'title',
# 'genre',
# 'keywords',
# 'cast',
# 'crew'
# #removing rest all coloumns

In [8]:
show.shape

(15871, 18)

In [9]:
show.groupby('original_language')['original_language'].count().reset_index(name='count').sort_values(by='count')

   original_language  count
0                 af      1
17                he      1
16                gl      1
25                km      1
27                la      1
28                ml      1
11                et      1
29                nb      1
3                 bs      1
2                 bn      1
36                sh      1
20                hy      1
34                ro      2
42                uk      2
12                eu      2
37                sr      3
39                te      3
1                 ar      3
8                 el      4
5                 cs      4
22                is      4
21                id      7
14                fi      7
13                fa      8
19                hu      8
40                th     11
41                tr     14
30                nl     14
32                pl     21
31                no     24
6                 da     35
38                sv     41
33                pt     46
35                ru     52
4                 cn     68
43                zh     69
26                ko     96
7                 de    113
10                es    218
24                ja    307
23                it    432
15                fr    683
18                hi   5918
9                 en   7640

In [10]:
# show[show['original_language'] == 'hi']

In [11]:
df= show[['adult',
'movie_id',
'original_language',
'overview',
'release_date',
'title',
'genres',
'keywords',
'cast',
'crew',
'poster_path']]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15871 entries, 0 to 15870
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              15871 non-null  bool
 1   movie_id           15871 non-null  int64
 2   original_language  15871 non-null  object
 3   overview           15655 non-null  object
 4   release_date       15871 non-null  object
 5   title              15871 non-null  object
 6   genres             15871 non-null  object
 7   keywords           15871 non-null  object
 8   cast               15871 non-null  object
 9   crew               15871 non-null  object
 10  poster_path        15219 non-null  object
dtypes: bool(1), int64(1), object(9)
memory usage: 1.2+ MB

In [13]:
#desired data format
#movie_id, title , tag

In [14]:
df.isnull().sum()

adult                  0
movie_id               0
original_language      0
overview             216
release_date           0
title                  0
genres                 0
keywords               0
cast                   0
crew                   0
poster_path          652
dtype: int64

In [15]:
df1=df.dropna()

In [16]:
df1.shape

(15064, 11)

In [17]:
df1.duplicated().sum()

0

In [18]:
df1.iloc[0].genres

"[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}]"

In [19]:
df2 = df1.drop(columns=['adult'])

In [20]:
df3 = df2[df2['original_language'].isin(['en','hi'])]
df3.shape

(12752, 10)

In [21]:
import ast
def con(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

def con_key(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i)
    return L

def con5(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=5:
            L.append(i['name'])
            counter+=1
    return L

def findir(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

def findprod(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Producer':
            L.append(i['name'])
    return L


df3['genres']= df3['genres'].apply(con)
df3['keywords']=df3['keywords'].apply(con_key)
df3['cast']=df3['cast'].apply(con5)
df3['Producers'] = df3['crew'].apply(findprod)
df3['crew'] = df3['crew'].apply(findir)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2251578175.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['genres']= df3['genres'].apply(con)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2251578175.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['keywords']=df3['keywords'].apply(con_key)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2251578175.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cast']=df3['cast'].apply(con5)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2251578175.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Producers'] = df3['crew'].apply(findprod)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2251578175.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['crew'] = df3['crew'].apply(findir)

In [22]:
def relyear(obj):
    year = obj[:4]
    return year

In [23]:
df3['release_year']=df3['release_date'].apply(relyear)
df3=df3.drop(columns = 'release_date')

C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\3634362123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['release_year']=df3['release_date'].apply(relyear)

In [24]:
df3['overview'] = df3['overview'].apply(lambda x:x.split())

In [25]:
df3.rename(columns={'crew': 'director'}, inplace = True)

In [26]:
df3.head()

,movie_id,original_language,overview,title,genres,keywords,cast,director,poster_path,Producers,release_year
0,783461,hi,"[When, her, boyfriend, loses, a, mobster's, ca...",Looop Lapeta,"[Action, Comedy, Crime]","[remake, looop lapeta, saade saati]","[Taapsee Pannu, Tahir Raj Bhasin, Shreya Dhanw...",[Aakash Bhatia],/onGdT8sYi89drvSJyEJnft97rOq.jpg,"[Tanuj Garg, Atul Kasbekar, Simran Sawhney, Aa...",2022
1,592508,hi,"[A, fearless,, faithful, albeit, slightly, for...",Sooryavanshi,"[Action, Crime, Thriller]","[police, sequel, police officer, cop universe]","[Akshay Kumar, Katrina Kaif, Ajay Devgn, Ranve...",[Rohit Shetty],/8p3mhjyLjHKtaAv8tFKfvEBtir0.jpg,"[Akshay Kumar, Karan Johar, Hiroo Johar, Rohit...",2021
2,864692,hi,"[A, soldier, caught, by, enemies, and, presume...",Pathaan,"[Action, Adventure, Thriller]","[spy, fake death, spy thriller, spy universe, ...","[Shah Rukh Khan, Deepika Padukone, John Abraha...",[Siddharth Anand],/m1b9toKYyCujHuLoXB5GSDunO9e.jpg,[Aditya Chopra],2023
3,1018228,hi,"[A, flight, attendant, and, her, boyfriend, mu...",Chor Nikal Ke Bhaga,"[Crime, Thriller]","[heist, airplane hijacking]","[Yami Gautam, Sunny Kaushal, Sharad Kelkar, In...",[Ajay Singh],/1MIDERaEUMw1rYDM99tGZPY80Ap.jpg,"[Dinesh Vijan, Amar Kaushik]",2023
4,20453,hi,"[Rascal., Joker., Dreamer., Genius..., You've,...",3 Idiots,"[Drama, Comedy]","[suicide, suicide attempt, college, musical, s...","[Aamir Khan, R. Madhavan, Sharman Joshi, Karee...",[Rajkumar Hirani],/66A9MqXOyVFCssoloscw79z8Tew.jpg,[Vidhu Vinod Chopra],2009

In [27]:
df4 = df3.copy()

In [28]:
df4['cast'] = df4['cast'].apply(lambda x:[i.replace(" ","") for i in x])
df4['director'] = df4['director'].apply(lambda x:[i.replace(" ","") for i in x])
df4['Producers'] = df4['Producers'].apply(lambda x:[i.replace(" ","") for i in x])
df4['genres'] = df4['genres'].apply(lambda x:[i.replace(" ","") for i in x])
df4['overview'] = df4['overview'].apply(lambda x:[i.replace(".","") for i in x])
df4['overview'] = df4['overview'].apply(lambda x:[i.replace(",","") for i in x])
df4['keywords'] = df4['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [29]:
df4.head()

,movie_id,original_language,overview,title,genres,keywords,cast,director,poster_path,Producers,release_year
0,783461,hi,"[When, her, boyfriend, loses, a, mobster's, ca...",Looop Lapeta,"[Action, Comedy, Crime]","[remake, loooplapeta, saadesaati]","[TaapseePannu, TahirRajBhasin, ShreyaDhanwanth...",[AakashBhatia],/onGdT8sYi89drvSJyEJnft97rOq.jpg,"[TanujGarg, AtulKasbekar, SimranSawhney, Aayus...",2022
1,592508,hi,"[A, fearless, faithful, albeit, slightly, forg...",Sooryavanshi,"[Action, Crime, Thriller]","[police, sequel, policeofficer, copuniverse]","[AkshayKumar, KatrinaKaif, AjayDevgn, RanveerS...",[RohitShetty],/8p3mhjyLjHKtaAv8tFKfvEBtir0.jpg,"[AkshayKumar, KaranJohar, HirooJohar, RohitShe...",2021
2,864692,hi,"[A, soldier, caught, by, enemies, and, presume...",Pathaan,"[Action, Adventure, Thriller]","[spy, fakedeath, spythriller, spyuniverse, yrf...","[ShahRukhKhan, DeepikaPadukone, JohnAbraham, D...",[SiddharthAnand],/m1b9toKYyCujHuLoXB5GSDunO9e.jpg,[AdityaChopra],2023
3,1018228,hi,"[A, flight, attendant, and, her, boyfriend, mu...",Chor Nikal Ke Bhaga,"[Crime, Thriller]","[heist, airplanehijacking]","[YamiGautam, SunnyKaushal, SharadKelkar, Indra...",[AjaySingh],/1MIDERaEUMw1rYDM99tGZPY80Ap.jpg,"[DineshVijan, AmarKaushik]",2023
4,20453,hi,"[Rascal, Joker, Dreamer, Genius, You've, never...",3 Idiots,"[Drama, Comedy]","[suicide, suicideattempt, college, musical, sl...","[AamirKhan, R.Madhavan, SharmanJoshi, KareenaK...",[RajkumarHirani],/66A9MqXOyVFCssoloscw79z8Tew.jpg,[VidhuVinodChopra],2009

In [30]:
df5 = df4.copy()

In [31]:
df5['tags'] = ''

columns_to_concat = ['original_language', 'overview', 'genres', 'keywords', 'cast', 'director', 'Producers', 'release_year']

for index, row in df5.iterrows():
    combined_string = ''
    for column in columns_to_concat:
        value = row[column]
        if isinstance(value, list):
            value = ' '.join(map(str, value))
        combined_string += str(value) + ' '
    df5.at[index, 'tags'] = combined_string.strip()

In [32]:
df6 = df5[['movie_id' ,'title' ,'tags','poster_path']]

In [33]:
df6.head()

,movie_id,title,tags,poster_path
0,783461,Looop Lapeta,hi When her boyfriend loses a mobster's cash S...,/onGdT8sYi89drvSJyEJnft97rOq.jpg
1,592508,Sooryavanshi,hi A fearless faithful albeit slightly forgetf...,/8p3mhjyLjHKtaAv8tFKfvEBtir0.jpg
2,864692,Pathaan,hi A soldier caught by enemies and presumed de...,/m1b9toKYyCujHuLoXB5GSDunO9e.jpg
3,1018228,Chor Nikal Ke Bhaga,hi A flight attendant and her boyfriend must s...,/1MIDERaEUMw1rYDM99tGZPY80Ap.jpg
4,20453,3 Idiots,hi Rascal Joker Dreamer Genius You've never me...,/66A9MqXOyVFCssoloscw79z8Tew.jpg

In [34]:
df6['tags'] = df6['tags'].apply(lambda x:x.lower())
df6['title'] = df6['title'].apply(lambda x:x.lower())

C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2668172899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['tags'] = df6['tags'].apply(lambda x:x.lower())
C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2668172899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['title'] = df6['title'].apply(lambda x:x.lower())

In [35]:
import nltk 
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [36]:
def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [37]:
df6['tags']=df6['tags'].apply(stem)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\1159521358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['tags']=df6['tags'].apply(stem)

In [38]:
df6['count'] = np.arange(df6.shape[0])

C:\Users\Admin\AppData\Local\Temp\ipykernel_4252\2491531949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['count'] = np.arange(df6.shape[0])

In [39]:
#Model

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 15000, stop_words = 'english')

In [41]:
vector=cv.fit_transform(df6['tags']).toarray()

In [42]:
vector.shape

(12752, 15000)

In [43]:
cv.get_feature_names_out()

array(['007', '10', '100', ..., 'zoëkravitz', 'zubeida', 'álvaroaugustín'],
      dtype=object)

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
# cosine_similarity(vector).shape

#taking similiarity(angle) of each movie with other movie and giving

In [46]:
similarity = cosine_similarity(vector)

In [47]:
similarity.shape

(12752, 12752)

In [48]:
similarity[1]

array([0.11428571, 1.        , 0.15916743, ..., 0.01683588, 0.05778856,
       0.        ])

In [49]:
#model-calling

In [50]:
#testing
# df6.loc[df6['count'] == 1592, 'title'].values[0]
# sorted(list(enumerate(similarity[486])),reverse = True, key= lambda x:x[1])[1:6]
# df6[df6['title'] == 'killing season']['count'].values[0]
# df6.loc[df6['title'] == 'batman begins', 'count'].values[0]
# df6[df6['title']== 'killing season']['count']

In [51]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12752 entries, 0 to 15870
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     12752 non-null  int64
 1   title        12752 non-null  object
 2   tags         12752 non-null  object
 3   poster_path  12752 non-null  object
 4   count        12752 non-null  int32
dtypes: int32(1), int64(1), object(3)
memory usage: 1.0+ MB

In [52]:
def recommend(movie):
    movie_index= df6[df6['title'] == movie.lower() ]['count'].values[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse = True, key= lambda x:x[1])[1:11]

    for i in movie_list:
        # print(i[0])
        print(df6.loc[df6['count'] == i[0] , 'movie_id' ].values[0])
    return

In [53]:
recommend('batman begins')

155
49026
366924
414906
268
628833
40662
270823
315635
695973

In [54]:
recommend('the amazing spider-man')

450699
441547
214393
270823
819767
210068
741374
54098
45316
460122

In [55]:
df7 =df6.copy()

In [56]:
from sklearn.feature_extraction.text import HashingVectorizer
hv = HashingVectorizer(n_features=15000,norm=None,alternate_sign=False)
dat = hv.fit_transform(df7['tags'])
dat.shape
similarity_again = cosine_similarity(dat)
similarity_again[0]

array([1.        , 0.25537696, 0.10910895, ..., 0.18973666, 0.19603921,
       0.23911602])

In [57]:
def recommend_hash(movie):
    movie_index= df7[df7['title'] == movie.lower() ]['count'].values[0]
    distances = similarity_again[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse = True, key= lambda x:x[1])[1:11]

    for i in movie_list:
        # print(i[0])
        print(df7.loc[df7['count'] == i[0] , 'title' ].values[0])
    return

In [58]:
recommend_hash('batman begins')
recommend_hash('vaastav')

the dark knight
the dark knight rises
netaji subhas chandra bose: the forgotten hero
lootmaar
reign of the supermen
cross of iron
vaastav
dastak
nakshatra
ironclad
systam
kasganj
knotted
netaji subhas chandra bose: the forgotten hero
the stitch
reign of the supermen
private detective: two plus two plus one
holi
the lion guard: return of the roar
tripura

In [59]:
import pickle
# pickle.dump(df6,open('movies.pkl','wb'))

In [60]:
df6.to_pickle("movies1.pkl")

In [61]:
pickle.dump(similarity,open('similar.pkl','wb'))

In [62]:
# df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12752 entries, 0 to 15870
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     12752 non-null  int64
 1   title        12752 non-null  object
 2   tags         12752 non-null  object
 3   poster_path  12752 non-null  object
 4   count        12752 non-null  int32
dtypes: int32(1), int64(1), object(3)
memory usage: 1.0+ MB